{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <form action="/add" method="post">{% csrf_token %}
                <div class="form-group">

                    <label>URL</label>

                    <input type="text" class="form-control" name="url" placeholder="Domain">

                </div>
                <div class="form-group">

                    <label>User Name</label>

                    <input type="text" class="form-control" name="username" placeholder="Username">

                </div>

                <div class="form-group">

                    <label>Email</label>

                    <input type="email" class="form-control" name="email" placeholder="Email">

                </div>

                <div class="form-group">

                    <label>Password</label>

                    <input type="text" class="form-control" id="inputPassword" name="password" placeholder="Password" >
                    <br/>
                    <button type="button" class="btn btn-info" id="generate">Generate Password</button>
                    Size <input type="number" min="5" max="100"  value="12"  id="range">
                </div>

                <div class="form-group">

                    <label>Tag</label>

                    <input type="text" class="form-control"  name="tag" placeholder="tag">

                </div>

                <div class="form-group">

                    <label >Optional Note</label>
                    <br/>
                    <textarea name="note" cols="41" rows="4"></textarea>

                </div>

                <button type="submit" class="btn btn-primary">Login</button>

            </form>


        </div>
    </div>

{% endblock %}