<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hiren</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">Hiren</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/pyprism/Hiren-Pass" class="fa fa-github"> Source Code</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/Add" class="fa fa-plus-square-o"> Add </a></li>
                    <li><a href="/browse" class="fa fa-square-o"> Browse</a></li>
                    <li><a href="/logout" class="fa fa-sign-out"> Logout </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">

    {% block content %}{% endblock %}
</div>

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>