{% extends "base.html" %}
{% block content %}
    {% if data %}
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
        <td>URL</td>
        <td>User Name</td>
        <td>Email</td>
        <td>Tag</td>
        <td>Optinal Note</td>
        <td>Added</td>
        <td>Updated</td>
        <td>Edit/Show</td>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
    <tr>
        <td> {{ i.site_url }}</td>
        <td> {{ i.username }}</td>
        <td> {{ i.email }}</td>
        <td> {{ i.tags }}</td>
        <td> {{ i.note }}</td>
        <td> {{ i.added_at }}</td>
        <td> {{ i.updated_at }}</td>
        <td>
            <a href="/id/{{ i.id }}/show"><button class="btn-default btn btn-xs">Show Password</button></a>
            <a href="/id/{{ i.id }}/edit"><button class="btn-default btn btn-xs">Edit</button></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% else %}
        You dont have any data right now
    {% endif %}
{% endblock %}