{% extends "base.html" %}
{% block content %}
    {% if data %}
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            {% if messages %}
              <div class="alert alert-info" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              </div>
            {% endif %}
            <form action="/search" method="post">{% csrf_token %}
             <div class="form-group form-inline">
                <label >Search</label>
                <input type="text" class="form-control"  name="search" placeholder="Enter search term">

            <select name="option" class="form-control">
                <option value="url">Url</option>
                <option value="tags">Tag</option>
                <option value="username">Username</option>
                <option value="email">Email</option>
            </select>
            </div>
            </form>
        </div>

    <table class="table table-bordered table-hover">
    <thead>
    <tr>
        <td>URL</td>
        <td>User Name</td>
        <td>Email</td>
        <td>Added</td>
        <td>Updated</td>
        <td>Edit/Show</td>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
    <tr>
        <td> {{ i.site_url }}</td>
        <td> {{ i.username }}</td>
        <td> {{ i.email }}</td>
        <td> {{ i.added_at }}</td>
        <td> {{ i.updated_at }}</td>
        <td>
            <a href="/id/{{ i.id }}/show"><button class="btn-default btn btn-xs">Show Password</button></a>
            <a href="/id/{{ i.id }}/edit"><button class="btn-default btn btn-xs">Edit</button></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if data.has_previous %}
            <a href="?page={{ data.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
        </span>

        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>


    {% else %}
        You dont have any data right now
    {% endif %}
{% endblock %}