<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Hiren Password </title>
    {% load staticfiles %}
    {% load compress %}
    {% load render_bundle from webpack_loader %}
    {% compress css %}
        {% render_bundle 'main' 'css' %}
    {% endcompress %}
</head>
<body>
<div id='app'></div>
<script src="{% static '/js/raven.min.js' %}"
    crossorigin="anonymous"></script>
<script>
     window.onload = function () {
         Raven.config('https://744ce28434134a8381ae7e07d584a3fc@sentry.io/140450').install()
     };
</script>
{% compress js %}
    <script type="text/javascript" src="{% static '/js/jquery-1.11.2.min.js' %}" ></script>
    <script type="text/javascript" src="{% static '/js/bootstrap.min.js' %}" ></script>
    <script type="text/javascript" src="{% static '/js/sweetalert.min.js' %}" ></script>
    <script type="text/javascript" src="{% static '/js/notify.js' %}" ></script>
    <script type="text/javascript" src="{% static '/js/selectize.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/fontawesome-iconpicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/forge.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap-table.min.js' %}"></script>
    {% render_bundle 'main' 'js' %}
{% endcompress %}
</body>
</html>
